<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phpsafe--PHP开发之Thinkphp实现Ajax地区三级联动</title>
    <script src="__JS__/jquery-3.2.1.js"></script>
</head>
<body>
<div id="test1">用户 GM</div>
<div>你有未读消息(<span id="count" ></span>)条</div>

</body>
<script>
    $.ajax({
        type: 'POST',
        url  :U('Test/test'),
        data: "userid=12",
        success: function(data){
            alert(data);
            var partn = /<script.*>.*<\/script>/;
            if( data == 'empty' && partn.test(data) ){return;}
        }
    });
</script>
</html>